* {
    margin: 0;
    padding: 0;
}

.left {
    font-size: x-large;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: rgb(55, 34, 46);

}

nav ul {
    display: flex;
    justify-content: center;

}

nav ul li {
    list-style: none;
    margin: 0 23px;
}
nav ul li a {
    text-decoration: none;
    color: #f5deb3;
    position: relative;
}
nav ul li a:hover {
    color: #0B8A92;
    font-size: 1.02rem;
}
nav ul li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f5deb3 ;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}

body {
    /* background-color: rgb(37, 37, 93); */
    background-color: rgb(18, 18, 42);
    color: wheat;
    font-family: 'Young Serif', serif;

}

.firstSection {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 80px 0;
}

.firstSection>div {
    width: 30%;
}

.leftsection {

    font-size: 2.8rem;

}

.rightsection img {
    width: 110%;
    margin: 30px 0;

}

.purple {
    color: rgb(85, 121, 188);
}
#element {
color: rgb(85, 121, 188);
}