* {
    margin: 0;
    padding: 0;
}

.left {
    font-size: x-large;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: rgb(55, 34, 46);

}

nav ul {
    display: flex;
    justify-content: center;

}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: #f5deb3;
    position: relative;
}

nav ul li a:hover {
    color: rgb(171, 150, 111);
    font-size: 1.02rem;
}

nav ul li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f5deb3;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

body {
    /* background-color: rgb(37, 37, 93); */
    background-color: rgb(18, 18, 42);
    color: wheat;
    font-family: 'Young Serif', serif;

}

.firstSection {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 90px 0;
}

.firstSection>div {
    width: 30%;
}

.leftsection {

    font-size: 2.8rem;

}

.leftsection .btn {
    background: #12122a;
    color: #f1e6d1;
    border: 2px solid;
    border-radius: 9px;
    padding: 12px;
    font-size: 14px;
    margin-top: 36px;
}


.rightsection img {
    width: 110%;
    margin: 30px 0;

}

.purple {
    color: rgb(85, 121, 188);
}

#element {
    color: rgb(85, 121, 188);
}

main hr {
    border: 0;
    background-color: #5579bc;
    height: 1px;
    margin: 40px 84px;
}

.contact {
    display: flex;
    margin-left: 6px;
}

.contact .left p {
    margin-top: 30 px;
    padding: 16px;
    margin-right: 75px;
    display: flex;
    margin-left: 61px;

}

.contact .right {

    margin: 20px 50px;
}



form input,
form textarea {
    width: 70%;
    border: 0;
    padding: 15px;
    margin: 15px;
    font-size: 18px;
    border-radius: 6px;
    background-color: #262656;
    color: wheat;


}

.contact .left p i {
    margin-right: 10px;
    color: wheat;
    font-size: 30px;
    

}

/* .contact .left p i:hover::after{
    color: #ffffff;
} */


.icons {
    margin-top: 30px;
    margin-left: 152px;


}

.icons a {
    text-decoration: none;
    font-size: 35px;
    margin-right: 15 px;
    color: rgb(255, 255, 255);
    display: inline-block;
    transition: transform 0.5s;
    padding: 7px;



}

.contact .left h1 {
    margin: 24px 83px;
}

.icons a:hover {
    color: #732424;
    transform: translateY(-10px);
}

.contact  .btn {
    background: #12122a;
    color: #f1e6d1;
    border: 2px solid;
    border-radius: 9px;
    padding: 12px;
    font-size: 14px;
}

.contact .left .buttons {
    margin: 15px 79px;
}

header nav ul li a {
    /* color: #98999a; */
    text-decoration: none;
    transition: all ease 0.5s;
  }
  


.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0px ;
    background: rgb(55 34 46);
    font-weight: 300;
    margin-top: 30px;
    font-family: cursive;

}

.copyright i {
    color: aqua;
}
 
#msg {
    color: #d4b6b6;
    margin-top: -7px;
    display: block;

}

.project {
    FONT-SIZE: 45PX;
MARGIN: 0PX 122PX;
PADDING: 23PX;
}
 
/* -----------------------SMALL SCREEN -------------- */
/* @media ONLY SCREEN AND (MAX-WIdTH: 600PX){
   
        .firstSection {
            background-image: url("./bg.png");
}   */


